@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rebeccapurple;
    color: white;
    font-family: 'Jura', sans-serif;
    height: 100vh;
    overflow: hidden;
  }
  body .content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 90vh;
    margin-top: 0;
    width: 100%;
  }
  body .content-container .score-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 5%;
    width: 80%;
    margin: 0 auto;
    margin-top: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .content-container .score-field .score {
    display: block;
    font-size: 1.6em;
    height: 40px;
    text-align: center;
    font-weight: bold;
  }
  body .content-container .spinner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 70%;
    width: 100%;
    margin: 0 auto;
  }
  body .content-container .spinner .spin-stopper {
    height: 30%;
    width: 30%;
    margin: 0 auto;
    background-image: url(../img/spin_stopper.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    -webkit-transform: translateY(207%);
            transform: translateY(207%);
    filter: drop-shadow(0px 0px 5px #31fc75);
    -webkit-filter: drop-shadow(0px 0px 5px #31fc75);
  }
  body .content-container .spinner .spin-stopper .button-pressed {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/spin_button_pressed.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
  }
  body .content-container .spinner .wheel {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/wheel.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  body .content-container .spinner .blur {
    -webkit-animation: blur 5s;
            animation: blur 5s;
  }
  @-webkit-keyframes blur {
    0% {
      -webkit-filter: blur(0.75px);
              filter: blur(0.75px);
    }
    60% {
      -webkit-filter: blur(0.6px);
              filter: blur(0.6px);
    }
    75% {
      -webkit-filter: blur(0.4px);
              filter: blur(0.4px);
    }
    85% {
      -webkit-filter: blur(0.4px);
              filter: blur(0.4px);
    }
    98% {
      -webkit-filter: blur(0.2px);
              filter: blur(0.2px);
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
    }
  }
  @keyframes blur {
    0% {
      -webkit-filter: blur(0.75px);
              filter: blur(0.75px);
    }
    60% {
      -webkit-filter: blur(0.6px);
              filter: blur(0.6px);
    }
    75% {
      -webkit-filter: blur(0.4px);
              filter: blur(0.4px);
    }
    85% {
      -webkit-filter: blur(0.4px);
              filter: blur(0.4px);
    }
    98% {
      -webkit-filter: blur(0.2px);
              filter: blur(0.2px);
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
    }
  }
  body .content-container .album-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 10%;
    width: 60%;
    margin: 0 auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .content-container .album-field .album {
    background-image: url("../img/photo_album.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
  body .content-container .album-field .album:hover {
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.8));
    -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.8));
  }
  body .content-container .album-field .progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 1.4em;
    height: 40px;
    text-align: center;
    margin: 14% 40px;
  }
  body .content-container .album-field .progress .collected {
    font-weight: bold;
  }
  body .content-container .image-popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #292929;
    opacity: 1;
    z-index: 12;
  }
  body .content-container .image-popup .collected-img {
    display: block;
    width: 90%;
    height: 80%;
    margin: 0 auto;
    margin-top: 10%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  body .content-container .album-popup {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 20;
    background-color: rgba(36, 36, 36, 0.884);
  }
  body .content-container .album-popup .open-album {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 140px;
    margin-top: 20px;
  }
  body .content-container .album-popup .open-album .open-album-img {
    display: block;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background-image: url("../img/album_open.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  body .content-container .album-popup .image-list-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
  }
  body .content-container .album-popup .image-list-container .album-img {
    display: block;
    width: 90%;
    height: 700px;
    margin: 0 auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  body .nxt-lvl-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 15%;
    height: 10%;
  }
  body .nxt-lvl-container .nxt-lvl {
    display: none;
    width: 100%;
    height: 100%;
    background-image: url("../img/right-arrow.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 65%;
  }
  body .nxt-lvl-container .nxt-lvl:hover {
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.8));
    -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.8));
  }
  body .continue-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
    width: 100%;
    z-index: 100;
    background-color: rgba(36, 36, 36, 0.884);
  }
  body .continue-overlay .btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    height: 40%;
    margin: auto 0;
  }
  body .continue-overlay .btn-container .btn {
    width: 40%;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    border-radius: 12px;
    border: none;
  }
  body .continue-overlay .btn-container .cont-btn {
    background-color: steelblue;
  }
  body .continue-overlay .btn-container .cont-btn:active {
    background-color: #7ba7cc;
  }
  body .continue-overlay .btn-container .rst-btn {
    background-color: brown;
  }
  body .continue-overlay .btn-container .rst-btn:active {
    background-color: #d14a4a;
  }
  body .continue-overlay .btn-container .nxt-lvl-btn {
    background-color: seagreen;
  }
  body .continue-overlay .btn-container .nxt-lvl-btn:active {
    background-color: #44c17b;
  }
}
/*# sourceMappingURL=game1.css.map */