$font-1: 'Didact Gothic', sans-serif;
$font-2: 'Jura', sans-serif;
$font-3: 'Dela Gothic One', cursive;

*{
    margin:0;
    padding:0;
}

body{
    display:flex;
    height:100vh;
    justify-content:space-around;
    flex-wrap:wrap;
    flex:1;
    align-items:center;
    font-family: $font-2;
    background-color:black;

    .countdown-container{
        display:flex;
        flex:1;
        flex-direction: row;
        flex-wrap:wrap;
        color:white;
        width:90%;
        margin:0 auto;
        // transform: translateY(50%);
        font-size: 2em;
        justify-content:space-around;

        .timer{
            font-family:$font-2;
        }
    }
}

@media only screen and (max-width:600px){
    body{
        display:flex;
        height:100vh;
        align-items:center;
        justify-content: space-around;
        overflow: hidden;

        .countdown-container{
            display:flex;
            width:95%;
            flex-direction:column;
            margin:0 auto;
            font-size: 2.5em;
            justify-content: space-around;

            .timer{
                display:flex;
                flex-direction: column;
                justify-content:space-around;
                width:90%;
                margin:0 auto;
                margin-bottom:20px;
            }
        }
    }
}